// Import Fonts:
// regular 400
// medium 500
// bold 700
// Titles: Gordita 400, 500, 700
// Paragraphs: Roboto 400, 500, 700
@import url('https://fonts.cdnfonts.com/css/gordita?styles=44677,44676,44675,44674,44671,44670');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

//icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import 'custom-bootstrap';

// font-size
.fs-xs {
  font-size: 12px;
}

.fs-sm {
  font-size: 14px;
}

// font-weight
.fw-semi {
  font-weight: 500;
}

// cursor
.pointer {
  cursor: pointer;
}

// underline
.underline {
  text-decoration: underline;
}

.icon {  
  &:hover{
    background-color: var(--bs-gray-100);
    border-radius: 50%;
  }
}

.link {
  width: fit-content;
}

.custom-card {
  max-width: 340px;
}